.page {
  background: linear-gradient(to right, #000814, #001d3d);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 0 0 5px #356868;
    font-weight: 500;
  }
  
.form {
    max-width: 400px;
    margin: 100px auto;
    margin-top: 200px;
    padding: 40px 50px;
    background: rgba(255, 255, 255, 0.05);
    /* backdrop-filter: blur(12px); */
    border: 2px solid rgba(21, 117, 172, 0.2);
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(31, 102, 115, 0.5), 0 0 40px rgba(12, 108, 129, 0.365);
    text-align: center;
  }
  
  .form h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #1b9dbd;
  }
  
  .form input {
    width: 300px;
    padding: 12px 16px;
    margin: 12px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  
  .form button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: linear-gradient(45deg, #0f3a44, #0e3f59);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form button:hover {
    background: linear-gradient(45deg, #113143, #0c5061);
    box-shadow: 0 0 10px #08536a;
  }
  