/* Page background wrapper */
.auth-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #000814, #001d3d);
  color: white;
}

.page-heading {
  font-size: 24px;
  margin-bottom: 50px;
  color: #ffffff;
  text-shadow: 0 0 5px #356868;
  font-weight: 500;
  text-align: center;
}

.page-heading .brand {
  color: #1a79ac;
  font-weight: bold;
}


.auth-form {
  max-width: 400px;
  width: 100%;
  padding: 40px 50px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(21, 117, 172, 0.2);
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(31, 102, 115, 0.5), 0 0 40px rgba(12, 108, 129, 0.365);
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #1b9dbd;
}


.auth-form input {
  width: 100%;
  padding: 12px 16px;
  margin: 12px 0;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  outline: none;
}

/* Submit button */
.auth-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: linear-gradient(45deg, #0f3a44, #0e3f59);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.auth-form button:hover {
  background: linear-gradient(45deg, #113143, #0c5061);
  box-shadow: 0 0 10px #08536a;
}

/* Switch link */
.switch-link {
  margin-top: 15px;
  font-size: 14px;
}

.link-btn {
  color: #1b9dbd;
  text-decoration: none;
  font-weight: bold;
}

.link-btn:hover {
  text-decoration: underline;
}
